.wmd-imgflip-button:before {
  content: "\f074"
}

.imgflip-modal {
  .imgflip-content {
    max-height: 335px;
    min-height: 200px;
    overflow-y: scroll;
    clear: both;
  }

  .ac-wrap {
    display: inline-block;
    width: 100%;
  }

  .imgflip-box {

    column-width: 30%;
    column-count: 3;
    column-gap: 6px;

    -webkit-column-width: 30%;
    -webkit-column-count: 3;
    -webkit-column-gap: 6px;

    -moz-column-width: 30%;
    -moz-column-count: 3;
    -moz-column-gap: 6px;

    .imgflip-imgwrap {
      margin-bottom: 3px;
      text-align: center;
    }

    .imgflip-img {
      border-bottom: 3px solid transparent;
      width: 100%;
    }

    .imgflip-img.selected {
      border-bottom: 3px solid $tertiary;
    }
  }
}